.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea
.DS_Store
/build
*.apk
*.zip
*.rar
*.bz2
*.7z
/marcaii-c7875bb.tar.gz
/.idea/runConfigurations.xml
.directory
captures/
projectFilesBackup/
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
.idea/libraries
.idea/caches
